<!DOCTYPE html>
<html>
<head>
	<title>测试普通文件上传</title>
	<form enctype="multipart/form-data" method="post" action="/upload">
		<input type="file" name="contentFile">
		<input type="submit" name="submit" value="submit">
    </form>
</head>
<body></body>
</html>